<!DOCTYPE html>

<html>

    <head>
        <title>Plan4Me Plan Editor - Travel Planning Made Simple</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style/common.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style/logout.css' %}">
    </head>

    <body>
        <header id="site-title">
            <h2 id="slogan1" class="slogan">Travel planning</h2>
            <img id="logo" src="{% static 'images/logo.png' %}">
            <h2 id="slogan2" class="slogan"> made SIMPLE.</h2>
        </header>

        <main>
            {% block content %}
                <div id='logged-out-info'>
                    <h4 id='title'>You have been logged out</h4>
                    <a href="/planner/"><p>Click here to return to homepage</p></a>
                </div>
            {% endblock %}
        </main>

        <footer>
            <p>This is a footer<br/>uwu</p>
        </footer>

    </body>

</html>